Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    0
Xft.hintstyle:  hintnone
Xft.lcdfilter:  lcdnone
Xft.rgba:       none

dzen2.font: Hack:style=bold:size=10
dzen2.foreground: #C4C4C4
dzen2.background: #101112

urxvt*foreground: #C4C4C4
urxvt*background: #151517

*color0:       #101112
*color8:       #465457

*color1:       #992525
*color9:       #ca4d4d

*color2:       #5e6d36
*color10:      #89a355

*color3:       #d27049
*color11:      #e5ab57

*color4:       #0a3f6b
*color12:      #2e709a

*color5:       #88537b
*color13:      #ba8baf

*color6:       #7587a6
*color14:      #afc4db

*color7:       #707880
*color15:      #c4c4c4
